@charset "UTF-8";

header{
    width:100%;
    height:80px;
    /*background:no-repeat 100% 100% url(/images/main.header/nav.bg.png);*/
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    background-color:#393D49;
}
header>div{
    height:100%;
    margin:0 auto;
}
#companylogo{
    height:50px;
    margin:10px 25px;
    float:left;
}
.nav{
    color:#C9C9C9;
    text-align:center;
    float:left;
    height:100%;
    overflow:hidden;
    position:relative;
    z-index:99999;
}
#lastLoginTime{
    float:left;
    color:#C9C9C9;
    height:80px;
    font-size:14px;
    font-family:"微软雅黑 Light";
}
.nav:hover{
    background-position:center;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-origin:border-box;
    background-clip:border-box;
    background-attachment:scroll;
    background-image:url(/images/main.header/subnav.bg.png);
}
.nav span,nav{
    font-size:14px;
    font-family:"微软雅黑 Light";
}
.nav a{
    display:block;
    padding:3px 13px;
    cursor:pointer;
    text-decoration:none;
    color:#C9C9C9;
}
.nav a:nth-child(1){
    padding:0 13px;
    height:80px;
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display:-moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
}
#mid{
    margin:0;
    width:100%;
    height:700px;
}
.breadcrumb{
    padding:10px auto;
    margin-bottom:8px;
}
#bodyIframe{
    border:none;
    width:100%;
    height:800px;
    align:top;
    margin:0;
}