@charset "UTF-8";
input{
    outline:none;
    border:none;
}
p{
    width:100%;
    height:25%;
    margin:0;
}
input{
    height:70%;
    width:100%;
    font-size:17px;
    letter-spacing:3px;
    padding-left:10px;
}
span{
    padding-left:30px;
    display:block;
    width:6rem;
    border-right:black solid 1px;
}
#submit{
    -webkit-box-pack: center;
    -moz-box-pack: center;
    cursor:pointer;
}